body
{
    background-color: #CCCCC0;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin: 0 !important;
}

.wrapper
{
    width: 100%;
}

.header
{
    width: 100%;
    padding: 40px, 0;
}

.logo
{
    width:450px;
    height: 75px;
    font-size: 48px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 25px;
}

.nav
{
    width: 100%;
    padding: 10px 0;
    background-color: #78AD73;
    text-align: center;
    border-top: 1px solid #67AC62;
    border-bottom: 1px solid #67AC62;
}

.content
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    padding-top: 10px;
}

.socials
{
    width:100%;
    text-align:center;
    background-color: #B7B7AC;
}

.socialdivs
{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
}

.fb
{
    width: 250px;
    height: 155px;
    float: left;
}

.fb:hover
{
    background-color: #4668B3;
}
.yt
{
    width: 250px;
    height: 155px;
    float: left;
}

.yt:hover
{
    background-color: #D94348;
}

.tw
{
    width: 250px;
    height: 155px;
    float: left;
}

.tw:hover
{
    background-color: #3095D3;
}

.www
{
    width: 250px;
    height: 155px;
    float: left;
}

.www:hover
{
    background-color: #D95333;
}

a.link
{
    text-decoration:none;
    color: #FFFFFF;
}

.footer
{
    text-align:center;
    background-color: #A4A49A;
    padding: 30px;
}

.sticky
{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

ol
{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 18px;
    height: 30px;
    line-height: 200%;
    display: inline-block;
}

ol a
{
    color: #FFFFFF;
    text-decoration: none;
    display: block;
}

ol > li
{
    float:left;
    width: 150px;
    height: 35px;
    border-right: 1px dashed #5C9A58;
}

ol > li:first-child
{
    border-left: 1px dashed #5C9A58;
}

ol >li:hover
{
    background-color: #8CB88A;
}

ol > li:hover > a
{
    color: #406B3D;
}

ol > li > ul 
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 35px;
    display: none;
}

ol > li:hover > ul
{
    display: block;
}

ol > li >ul > li
{
    background-color: #85B581;
    position: relative;
    z-index: 100;
    border-top: 1px dashed #5C9A58;
}

ol > li > ul > li:hover
{
    background-color: #8CB88A;
}

ol > li > ul > li:hover > a
{
    color: #406B3D;
}